#game-view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.game-img {
    border-radius: 25px;
}
#result-box {
    width: 30%;
    height: 30%;
}
.correct {
    border: 5px solid limegreen;
}
.incorrect {
    opacity: 0.5;
}

#final {
    z-index: 9999;
}

@media (max-width: 576px) {
    .game-img {
        width: 70%;
        padding-bottom: 5px;
    }
}