body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header {
    background-color: #184236;
}

header p {
    color: #FCF3AE;
}

body {
    font-family: 'Irish Grover', regular !important;
    color: #091915;
    overflow-y: hidden;
}

.navbar-toggler {
    background-color: #FCF3AE !important;
}

.nav-link {
    font-weight: bold !important;
    color: #091915 !important;
    background-image: url('../images/nappi.png') !important;
    background-size: contain !important;   
    background-repeat: no-repeat !important;
    background-position: center !important;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 100px;
    height: 60px;
    width: 100%;
    max-width: 200px; 
    box-sizing: border-box;
}

.nav-link:hover {
    background-size: cover; 
    transform: translateY(2px);
}

.nav-link:active {
    transform: translateY(4px);
}

.nav-link span {
    z-index: 1;
    font-size: 1rem;
}

.bg-image {
    background-image: url('../images/etusivu_main_img.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100%;    
    z-index: -1;
}

.boy-image {
    bottom: 10px; 
    top: 550px;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    width: 100%;
    z-index: 0;
}

.custom-center-box {
    transform: translate(-50%, -10%);
    width: 100%;
    max-width: 700px;
    z-index: 1;
    top: 40%;
    background-color: #ffeccfd4;
}

.custom-nappi {
    background-image: url('../images/nappi.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #091915;
    font-weight: bold;
    padding: 10px 40px;
    margin: auto;
    height: 60px;
    width: 120px;
    border: none;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.2rem;
}

.custom-nappi:hover {
    transform: translateY(2px);
}

.custom-nappi:active {
    transform: translateY(4px);
}

@media (max-width: 576px) {
    .custom-center-box {
        transform: translateY(-50%, -50%);
    }
    .custom-fxs {
        font-size: 1.2rem;
    }
    .custom-txs {
        font-size: 1rem;
    }
    .custom-nappi {
        font-size: 0.8rem;
        padding: 10px 20px;
        width: 80px;
    }
    .boy-image {
        bottom: 40px; 
        width: 120px;
    }
}

@media (min-width: 576px) {
    .custom-txs {
        font-size: 1.25rem;
    }
    .boy-image {
        bottom: 30px; 
        width: 120px;
    }
}
  
@media (min-width: 768px) {
    .custom-center-box {
        transform: translate(-50%, -50%);
    }
    .custom-txs {
        font-size: 1.5rem;
    }
    .boy-image {
        width: 15vw;
        max-width: 180px;        
        min-width: 120px;
    }    
}

@media (min-width: 992px) {
    .custom-center-box {
        transform: translate(-50%, -50%);
        min-width: 700px;
    }
    .custom-txs {
        font-size: 2rem;
    }
}

