header {
    background-color: #305F43;
}

body {
    font-family: 'Irish Grover', regular !important;
    color: #e4d078;
    font-weight: 500;
}

nav a {
    font-weight: bold !important;
    color: #091915 !important;
    background-image: url('../images/nappi.png') !important;
    background-size: 100% 100% !important;   
}

nav a:hover {
    background-size: cover; 
    transform: translateY(2px);
}

nav a:active {
    transform: translateY(4px);
}

#caracther {
    width: 120px;
    padding: 4em;
}
#background {
    background-image: url(../images/Luonnontiede.jpg);
    height: 100vh;
}
.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 576px){
    header {
        padding: 1rem;
    }
    p.h1 {
        font-size: 1.8rem;
    }
    nav a {
        font-size: 0.9rem;
    }
    body {
        font-size: 0.95rem;
    }
    #background {
        height: 50vh;
    }
}

@media (max-width: 768px) {
    .navbar-nav .nav-link {
        font-size: 1rem;
        color: #091915;
        background-image: url('../images/nappi.png');
        background-size: 100% 100%;
        font-weight: bold;
        padding: 0.5rem 0;
    }

    .navbar-nav .nav-link:hover {
        transform: translateY(2px);
    }

    .navbar-nav .nav-link:active {
        transform: translateY(4px);
    }

    .navbar {
        background-color: #305F43;
    }
}
