header {
    background-color: #305F43;
    overflow: visible;
}
header p {
    color: #FCF3AE;
}

body {
    font-family: 'Irish Grover', regular !important;
    color: #e4d078;
    background-image: url('../images/Luonnontiede.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.navbar-toggler {
    background-color: #FCF3AE !important;
}

.nav-link {
    font-weight: bold !important;
    color: #091915 !important;
    background-image: url('../images/nappi.png') !important;
    background-size: contain !important;   
    background-repeat: no-repeat !important;
    background-position: center !important;
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 100px;
    height: 60px;
    width: 100%;
    max-width: 200px; 
    box-sizing: border-box;
}

.nav-link:hover {
    background-size: cover; 
    transform: translateY(2px);
}

.nav-link:active {
    transform: translateY(4px);
}

.nav-link span {
    z-index: 1;
    font-size: 1rem;
}

#caracther {
    width: 200px;
    max-width: 20vw;
    z-index: 9999;
    pointer-events: none;
}



@media (max-width: 576px){
    header {
        padding: 1rem;
    }
    p.h1 {
        font-size: 1.8rem;
    }
    nav a {
        font-size: 0.9rem;
    }
    body {
        font-size: 0.95rem;
    }
    #background {
        height: 50vh;
    }
}